---
import Playvideo from "../../componenti/playvideo.astro";

import "../../styles/componenti.css";
import "../../js/js.js";

import axios from "axios";
import jsdom from "jsdom";
import { manifest } from "astro:ssr-manifest";
const { JSDOM } = jsdom;

let URL = Astro.request.url;

const URLplay = URL.split("/");

let link = URL.replaceAll("http://localhost:4321/play/", "");

let link2 = "https://www.animeworld.so/play/" + link;

let arr = [];

await axios.get(link2).then(({ data }) => {
  const dom = new JSDOM(data);
  let matches = dom.window.document.querySelectorAll("div > .server.active");

  matches.forEach((element) => {
    let fixed = element.outerHTML;

    arr.push(fixed);
  });
});
// copiare questo per prendere desc e tag
await axios.get(link2).then(({ data }) => {
  const dom = new JSDOM(data);
  let matches = dom.window.document.querySelectorAll("div video source");

  matches.forEach((element) => {
    let fixed = element.src;

    link = fixed;
  });
});
// // // // // // // // // // // // // // //
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Animecrack</title>
  </head>
  <body>
    <img class="bgimg" src="/src/img/wallpaper.jpg" />
    <Playvideo />
    <div class="videocontainer">
      <p id="nomeEp">{link}</p>
      <video controls autoplay>
        <source src={link} type="video/mp4" />
      </video>
    </div>
    <div class="contenitorebtn">
      <button class="nodispl btn" id="previous"></button>
      <button class="nodispl btn" id="next"></button>
    </div>
    <div>
      <p>Descrizione:</p>
      <p id="desc"></p>
      <p>Tag:</p>
      <p id="tag"></p>
    </div>
    <p class="text">Tutti gli episodi</p>
    <div class="ep" id="contenitore">{arr}</div>
    <script>
      const contenitore = document.getElementById("contenitore");

      let transformato = contenitore.innerText.trim();

      contenitore.innerHTML = transformato;
      const ep = document.querySelector(".episode .active");
      const nomeEp = document.getElementById("nomeEp");
      let nextbtn = document.getElementById("next");
      nomeEp.innerText += " EP " + ep.textContent;

      function primoep() {
        window.location.href = contenitore.querySelector("a").href;
      }
      primoep();
      let nextLink =
        document.querySelector("a.active").parentElement.nextElementSibling
          .children[0].href;
      if (nextLink == null || nextLink == undefined || nextLink == "") {
      } else {
        let nextA = document.createElement("a");
        nextA.href = nextLink;
        nextA.innerHTML = "Next Episode";
        nextbtn.classList.add("displ");
        nextbtn.classList.remove("nodispl");
        nextbtn.appendChild(nextA);
      }

      let nextbtn2 = document.getElementById("previous");

      let nextLink2 =
        document.querySelector("a.active").parentElement.previousElementSibling
          .children[0].href;
      if (nextLink2 == null || nextLink2 == undefined || nextLink2 == "") {
      } else {
        let nextA2 = document.createElement("a");
        nextA2.href = nextLink2;
        nextA2.innerHTML = "Previous Episode";
        nextbtn2.classList.add("displ");
        nextbtn2.classList.remove("nodispl");
        nextbtn2.appendChild(nextA2);
      }
      console.log(nextLink2);
    </script>
  </body>
</html>
