.contenitore-categoria {
  flex-direction: row;
  background-color: white;
  top: 7.5rem;
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  border-radius: 10px;
}

.contenitore-categoria div p {
  padding: 0.7rem;
  width: fit-content;
  cursor: pointer;
  transition: ease 0.5s;
}

.contenitore-categoria div p:hover {
  transform: scale(1.1);
  color: #7f66ff;
  transition: ease 0.5s;
}

.contenitorecategoriamain {
  display: flex;
}

button {
  vertical-align: middle;
  justify-self: center;
  color: white;
  background-color: #121619;
  border: 1px solid white;
  width: 10rem;
  padding: 0.2rem;
  height: 3rem;
  border-radius: 5px;
  transition: ease 0.5s;
}

button:hover {
  background-color: white;
  color: #121619;
  transition: ease 0.5s;
}

.btncontenitore {
  align-items: center;
  display: flex;
  justify-content: center;
}

.filler {
  position: absolute;
  height: 1.6rem;
  background-color: transparent;
  top: 5.9rem;
  color: transparent;
  width: 10rem;
}

.svgbtn {
  background-color: transparent;
  border: none;
  width: 1.6rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.svgbtn:hover {
  background-color: transparent;
  border: none;
  width: 1.6rem;
  height: 2rem;
  display: flex;
  align-items: center;
  transform: scale(1.1);
  transition: ease 0.5s;
}
@media only screen and (max-width: 840px) {
  .filler {
    display: none;
  }
  .contenitore-categoria {
    display: none;
  }
}
