.contenitorebarra {
  background-color: #1c2125;
  width: 100wh;
  height: 4rem;
  border-bottom: 0.15rem solid rgb(66, 66, 66);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input {
  background-color: #121619;
  border: none;
  border-radius: 5px;
  width: 15rem;
  align-self: center;
  padding: 0.7rem;
}

::placeholder {
  color: #fcfcfc;
}

.svg {
  height: 2.5rem;
  align-self: center;
  padding: 1rem;
  fill: #fcfcfc;
}

.cont-anime {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 900px;
  margin-top: 3rem;
  background-color: #1c2125;
}

.poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poster img {
  max-width: 16rem;
  object-fit: cover;
  align-self: center;
  border-radius: 8px;
}

.poster a {
  text-decoration: none;
  text-align: center;
  min-height: 4rem;
}

.contenitore-anime {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  min-height: 30rem;
}
