.contenitorebarra {
  background-color: #1c2125;
  width: 100%;
  overflow-x: hidden;
  height: 4rem;
  border-bottom: 0.15rem solid rgb(66, 66, 66);
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 100;
}

.input {
  background-color: #121619;
  border: none;
  border-radius: 5px;
  width: 30rem;
  align-self: center;
  height: 2rem;
  padding: 0.3rem;
  vertical-align: middle;
  color: #fcfcfc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}
.svg-in {
  fill: white;
  width: 1.3rem;
}

.input2 {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: #fcfcfc;
  outline: none;
}

::placeholder {
  color: #fcfcfc;
}

.svg {
  height: 2.5rem;
  justify-content: end;
  padding: 0.5rem 1rem 0.5rem 1rem;
  fill: #fcfcfc;
  align-self: center;
}

.topcontainer2 a {
  display: flex;
  justify-content: center;
}

.cont-anime {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1100px;
  background-color: #1c2125;
  border-radius: 5px;
  margin-top: 10rem;
}

.poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.poster img {
  max-width: 17rem;
  max-height: 18rem;
  object-fit: cover;
  align-self: center;
  border-radius: 8px;
}

.inner:hover {
  transform: scale(1.05);
  transition: ease 1s;
}

.inner:hover .name {
  color: #7f66ff;
}

.inner:hover .ep {
  color: #7f66ff;
}

.poster a {
  min-height: 4rem;
}

.Recenti {
  padding: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #fcfcfc;
  text-align: center;
}

.contenitore-anime {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;

  width: 100%;
}

.name {
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25ch;
  text-align: center;
  white-space: nowrap;
}

.inner {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
  transition: ease 1s;
}

.logo {
  height: 3rem;
  align-self: center;
}

.topcontainer {
  display: flex;
  min-width: 10rem;
  align-items: center;
  vertical-align: middle;
  gap: 1rem;
}

.topcontainer2 {
  min-width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
}

.topcontainer2 button {
  top: 0.5rem;
  position: relative;
}

.videocontainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 1000px;
}

.videocontainer video {
  border-radius: 10px;
}

.videocontainer p {
  color: #fcfcfc;
  text-align: center;
  font-size: 2rem;
}

.hidden {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.episode {
  font-size: 1rem;
  width: fit-content;
}

.nodispl {
  display: none;
}

.displ {
  display: block;
}

.active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin-bottom: 0.5rem;
  margin: 0 auto;
  flex-wrap: wrap;
}

.episode a {
  color: #121619;
  background-color: #fcfcfc;
  margin: 0.3rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  border: 0.1rem solid transparent;
  transition: ease 0.5s;
}

.episode a:hover {
  transform: scale(1.1);
  background-color: #121619;
  color: #fcfcfc;
  border: 0.1rem solid #fcfcfc;
  transition: ease 0.5s;
}

ul {
  padding: 1rem;
}

.range span {
  color: #fcfcfc;
  font-size: 1rem;
  text-align: center;
}

.range {
  text-align: center;
}

.btn a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #121619;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  transition: ease 0.5s;
}

.btn {
  background-color: #fcfcfc;
  border: none;
  border-radius: 10px;
  margin: 1rem 0 1rem 0;
  transition: ease 0.5s;
}

.btn:hover {
  transform: scale(1.1);
  background-color: #121619;
  border: solid 0.1rem #fcfcfc;
  transition: ease 0.5s;
}

.btn a:hover {
  color: #fcfcfc;
  transition: ease 0.5s;
}

.contenitorebtn {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.text {
  color: #fcfcfc;
  text-align: center;
  font-size: 2rem;
}

.ep {
  background-color: #1c2125;
  border-radius: 10px;
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 1rem;
}

.genere {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  padding-left: 1.75rem;
  padding-right: 1.9rem;
  text-align: center;
  margin-bottom: 2rem;
}

.genere div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.genere p {
  color: white;
  font-size: 2rem;
}

.genere p a:first-child:hover {
  color: #7f66ff;
}

.genere p:first-child {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-2 {
  width: 2rem !important;
}

.bottonitop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.contenitore-desc {
  max-width: calc(90vw - 2rem);
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #1c2125;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.contenitore-desc p:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300ch;
  white-space: nowrap;
  cursor: pointer;
}

.contenitore-desc h2 {
  text-align: center;
}

.show {
  display: flex;
}

.swiper {
  max-width: 1100px;
  height: 20rem;
  border-radius: 10px;
  margin-top: 12.5rem;
  margin-bottom: -5rem;
}

.swiper-wrapper {
  background: hsl(0, 0, 0 / 60%);
}

.info {
  color: white;
  width: 100%;
  height: 100%;
  text-align: start;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.info a:first-child {
  font-size: 2rem;
  object-fit: cover;
}

.info p {
  max-width: 90ch;
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.watch {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  width: 9rem;
  padding: 0.5rem;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  border: solid 0.1rem #fcfcfc;
  transition: ease 0.5s;
}

.watch:hover {
  background-color: #fcfcfc;
  color: black;
  transition: ease 0.5s;
}

.showbtn {
  width: 7rem;
  height: 2.5rem;
  align-self: center;

  margin-bottom: 1.6rem;
}

.no {
  display: none;
}

.loading {
  background-color: transparent;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.loading img:first-child {
  width: 30rem;
  align-self: center;
  height: fit-content;
  cursor: pointer;
}

.loading img:last-child {
  width: 5rem;
  height: fit-content;
  align-self: center;
  margin-top: 3rem;
}

.container-load {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container-load p {
  align-self: center;
  color: white;
  font-size: 2rem;
}

@media only screen and (max-width: 950px) {
  .contenitore-anime {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .swiper {
    width: 40rem;
  }
}

@media only screen and (max-width: 839px) {
  .contenitore-anime {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  .logo {
    height: 3rem;
    align-self: center;
  }
  .topcontainer2 {
    min-width: 5rem;
  }
  .topcontainer {
    min-width: 6rem;
  }
  .swiper {
    width: 28rem;
  }
  .bottonitop {
    flex-direction: column;
    align-items: center;
  }
  .Recenti {
    font-size: 2rem;
  }
  .navbar {
    position: relative;
  }
  .swiper {
    display: none !important;
  }
  .input {
    width: 13.5rem;
  }
}
@media only screen and (max-width: 465px) {
  .contenitore-anime {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .input {
    width: 5rem;
  }
  .logo {
    height: 2rem;
    align-self: center;
  }
  .genere {
    opacity: 0;
  }
}

@media only screen and (max-width: 316px) {
  .input {
    width: 100%;
    margin-right: 1rem;
  }
  .genere {
    width: 0;
    height: 1rem;
  }
  .genere div {
    width: 0;
    height: 1rem;
  }
  .topcontainer2 {
    display: none;
  }
  .logo {
    height: 1.5rem;
    align-self: center;
  }
  .poster img {
    max-width: 12rem;
    max-height: 13rem;
  }
}
