.contenitorebarra {
  background-color: #1c2125;
  width: 100wh;
  height: 4rem;
  border-bottom: 0.15rem solid rgb(66, 66, 66);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input {
  background-color: #121619;
  border: none;
  border-radius: 5px;
  width: 15rem;
  align-self: center;
  padding: 0.7rem;
  vertical-align: middle;
  color: #fcfcfc;
}

::placeholder {
  color: #fcfcfc;
}

.svg {
  height: 2.5rem;
  justify-content: end;
  padding: 1rem;
  fill: #fcfcfc;
}

.cont-anime {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1100px;
  margin-top: 3rem;
  background-color: #1c2125;
}

.poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.poster img {
  max-width: 17rem;
  max-height: 18rem;
  object-fit: cover;
  align-self: center;
  border-radius: 8px;
}

.poster a {
  min-height: 4rem;
}

.Recenti {
  padding: 1rem;
  font-size: 4rem;
  font-weight: bold;
  color: #fcfcfc;
  text-align: center;
}

.contenitore-anime {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;

  width: 100%;
}

.name {
  word-break: break-all;
  max-width: 10rem;
  text-align: center;
}

.inner {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  min-height: 25rem;
}

.logo {
  height: 3rem;
  align-self: center;
}

.topcontainer {
  display: flex;
  min-width: 10rem;
  align-items: center;
  vertical-align: middle;
}

.topcontainer2 {
  min-width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.videocontainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 1000px;
}

.videocontainer video {
  border-radius: 10px;
}

.videocontainer p {
  color: #fcfcfc;
  text-align: center;
  font-size: 2rem;
}

.hidden {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.episode {
  font-size: 1rem;
  width: fit-content;
}

.nodispl {
  display: none;
}

.displ {
  display: block;
}

.active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.episode a {
  color: #121619;
  background-color: #fcfcfc;
  border: 0.2rem solid #121619;
  padding: 0.5rem;
  width: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.episode a:hover {
  background-color: #1c2125;
  color: #fcfcfc;
}

ul {
  padding: 1rem;
}

.range span {
  color: #fcfcfc;
  font-size: 1rem;
  text-align: center;
}

.range {
  text-align: center;
}

.btn a {
  color: #121619;
}

.btn {
  background-color: #fcfcfc;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

.contenitorebtn {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.text {
  color: #fcfcfc;
  text-align: center;
  font-size: 3rem;
}

.ep {
  background-color: #1c2125;
  border-radius: 10px;
  max-width: 90vw;
  margin: 0 auto;
}

@media only screen and (max-width: 950px) {
  .contenitore-anime {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 740px) {
  .contenitore-anime {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  .logo {
    height: 2rem;
    align-self: center;
  }
  .topcontainer2 {
    min-width: 5rem;
  }
  .topcontainer {
    min-width: 6rem;
  }
}

@media only screen and (max-width: 460px) {
  .contenitore-anime {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .input {
    width: 7rem;
  }
  .logo {
    height: 2rem;
    align-self: center;
  }
}

@media only screen and (max-width: 316px) {
  .input {
    width: 100%;
    margin-right: 1rem;
  }
  .topcontainer2 {
    display: none;
  }
  .logo {
    height: 1.5rem;
    align-self: center;
  }
}
