.contenitore-generi {
  flex-direction: row;
  background-color: white;
  top: 7.5rem;
  position: absolute;
  display: flex;
  transform: scaleY(0);
  transform-origin: top;
  transition: ease 0.2s;
  border-radius: 10px;
}

.contenitore-generi div p {
  padding: 0.7rem;
  width: fit-content;
  cursor: pointer;
  transition: ease 0.5s;
}

.contenitore-generi div p:hover {
  transform: scale(1.1);
  color: #7f66ff;
  transition: ease 0.5s;
}

.contenitoregenerimain {
  display: flex;
  z-index: 50;
}

button {
  vertical-align: middle;
  justify-self: center;
  color: white;
  background-color: #121619;
  border: 1px solid white;
  width: 10rem;
  padding: 0.2rem;
  height: 3rem;
  border-radius: 5px;
}

button:hover {
  background-color: white;
  color: #121619;
}

.btncontenitore {
  align-items: center;
  display: flex;
  justify-content: center;
}

.filler {
  position: absolute;
  height: 1rem;
  background-color: transparent;
  top: 8rem;
  color: transparent;
  width: 10rem;
}
.contenitore-pagine {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagN {
  color: white;
  text-align: center;
  font-size: 1.4rem;
}

.pagbtn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media only screen and (max-width: 840px) {
  .contenitore-generi {
    display: none;
  }
  .filler {
    display: none;
  }
  .contenitore-generi {
    flex-direction: column;
    z-index: 2000;
  }
}

@media only screen and (max-width: 575px) {
  .contenitore-generi {
    flex-direction: column;
    left: 40%;
  }
  .pagbtn {
    flex-direction: column;
  }
}

@media only screen and (max-width: 465px) {
  .pagbtn {
    flex-direction: column;
    left: 0;
  }
}
