---
import "../styles/componenti.css";
import Generi from "../componenti/generi.astro";
import Categoria from "../componenti/categoria.astro";
import Logo from "../img/AnimeCrack.png";
---

<div class="navbar">
  <div class="contenitorebarra">
    <div class="barra-1">
      <div class="topcontainer">
        <a href="/">
          <img src={Logo.src} class="logo" />
        </a>
      </div>
      <div class="input">
        <input class="input2" id="cerca1" placeholder="Cerca..." />
        <button class="svgbtn" id="cerca2">
          <svg
            class="svg-in"
            type="check"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
            ></path></svg
          >
        </button>
      </div>

      <div class="topcontainer2">
        <a href="https://www.youtube.com/@Simone2611/videos">
          <svg
            class="svg"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
            class="yt"
            ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
            <path
              d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z"
            ></path></svg
          >
        </a>
        <a id="barra">
          <svg
            class="svg-in2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
            ></path></svg
          >
        </a>
      </div>
    </div>
    <div id="bottoni" class="bottonitop">
      <button id="home" class="homebtn">Home</button>
      <Generi />
      <button id="nuoveAgg">Nuove aggiunte</button>
      <button id="ultimiep">Ultimi episodi</button>
      <button id="incorso">Anime in corso</button>
      <Categoria />
      <button id="random">Random</button>
      <button id="upcoming">Upcoming</button>
    </div>

    <div class="search" id="search"></div>
  </div>
</div>
<script>
  const input = document.getElementById("cerca1");
  input.addEventListener("input", (event) => {
    let letter = document.getElementById("cerca1").value;
    let search2 = document.getElementById("search");
    if (letter == null || letter == undefined || letter == "") {
      search2.style.display = "none";
    } else {
      search2.style.display = "flex";
      loadDoc();
    }

    function loadDoc() {
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function () {
        const res = this.responseText;
        const search = document.getElementById("search");
        search.innerText = res;

        let transformato = res.trim();
        search.innerHTML = transformato;
        const inputsearch = document.getElementById("inputsearch");

        let transformato2 = inputsearch.innerText.trim();

        inputsearch.innerHTML =
          transformato2 + '<button id="more">More</button>';
        if (
          transformato2 == null ||
          transformato2 == undefined ||
          transformato2 == ""
        ) {
          inputsearch.innerHTML = "";
        }
        const more = document.getElementById("more");
        more.addEventListener("click", (e) => {
          let letter = document.getElementById("cerca1").value;
          window.location.href = "/" + letter + "/search";
        });
      };
      xhttp.open("GET", "/input/" + letter.replaceAll(" ", "+"));
      xhttp.send();
    }
  });

  const barra = document.getElementById("barra");
  const bottoni = document.getElementById("bottoni");
  let nclick = 0;
  barra.addEventListener("click", (e) => {
    if (nclick == 0) {
      bottoni.style.transform = "scaleX(0%)";
      bottoni.style.display = "flex";
      bottoni.style.transition = "0.5s ease";
      nclick = 1;
    } else {
      bottoni.style.transform = "scaleX(100%)";
      // bottoni.style.display = "none";
      bottoni.style.transition = "0.5s ease";
      nclick = 0;
    }
  });

  let width = window.innerWidth;

  window.addEventListener("resize", (e) => {
    if (width > "840") {
      bottoni.removeAttribute("style");
      nclick = 0;
    }
  });

  const cerca = document.getElementById("cerca1");

  cerca.addEventListener("keypress", function (event) {
    if (event.keyCode == 13) {
      let text1 = document.getElementById("cerca1").value;
      if (text1.includes("?") || text1.includes("\\") || text1.includes("/")) {
        alert("Non puoi usare questo simbolo/carattere");
      } else if (text1 == "") {
        alert("Devi scrivere qualcosa");
      } else {
        let fix = text1.replaceAll(/\d+/g, "");
        let fix2 = fix.replaceAll("?page=", "");
        window.location.href = "/" + fix2 + "/search";
      }
    }
  });

  const cerca2 = document.getElementById("cerca2");

  cerca2.addEventListener("click", function (event) {
    let text1 = document.getElementById("cerca1").value;
    if (text1.includes("?") || text1.includes("\\") || text1.includes("/")) {
      alert("Non puoi usare questo simbolo/carattere");
    } else if (text1 == "") {
      alert("Devi scrivere qualcosa");
    } else {
      let fix = text1.replaceAll(/\d+/g, "");
      let fix2 = fix.replaceAll("?page=", "");
      window.location.href = "/" + fix2 + "/search";
    }
  });

  const newagg = document.getElementById("nuoveAgg");
  newagg.addEventListener("click", (e) => {
    window.location.href = "/newest";
  });
  const ultimiep = document.getElementById("ultimiep");
  ultimiep.addEventListener("click", (e) => {
    window.location.href = "/updated";
  });
  const incorso = document.getElementById("incorso");
  incorso.addEventListener("click", (e) => {
    window.location.href = "/ongoing";
  });
  const random = document.getElementById("random");
  random.addEventListener("click", (e) => {
    window.location.href = "/random";
  });

  const upcoming = document.getElementById("upcoming");
  upcoming.addEventListener("click", (e) => {
    window.location.href = "/upcoming";
  });

  const home = document.getElementById("home");
  home.addEventListener("click", (e) => {
    window.location.href = "/";
  });
</script>
