---
import "../styles/global.css";
import "../styles/categoria.css";
---

<div id="all2" class="contenitorecategoriamain">
  <div class="btncontenitore">
    <button id="button2">Categoria</button>
  </div>
  <div class="filler"></div>
  <div id="categoria" class="contenitore-categoria">
    <div>
      <p>Animes</p>
      <p>Movies</p>
      <p>OVA</p>
      <p>ONA</p>
      <p>Specials</p>
      <p>Music</p>
    </div>
  </div>
  <script>
    const categoria = document.getElementById("categoria");
    const all = document.getElementById("all2");
    const button = document.getElementById("button2");

    all.addEventListener("mouseover", (e) => {
      categoria.style.transform = "scaleY(1)";
      categoria.style.transition = "ease 0.2s";
    });
    all.addEventListener("mouseout", (e) => {
      categoria.style.transform = "scaleY(0)";
      categoria.style.transition = "ease 0.2s";
    });

    categoria.addEventListener("click", (e) => {
      let genereselezionato = e.target.innerHTML.replaceAll(" ", "-");
      window.location.href = "/categoria/" + genereselezionato.toLowerCase();
    });

    function isMobile() {
      const regex =
        /Mobi|Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i;
      return regex.test(navigator.userAgent);
    }

    if (isMobile()) {
    } else {
      button.addEventListener("click", (e) => {
        window.location.href = "/categoria/animes";
      });
    }

    window.addEventListener("resize", (e) => {
      let width = window.innerWidth;
      if (width < 840) {
        button.addEventListener("click", (e) => {
          window.location.href = "/categoria/animes";
        });
      }
    });

    button.addEventListener("click", (e) => {
      if (isMobile()) {
      } else {
        window.location.href = "/categoria/animes";
      }
    });
  </script>
</div>
