---
import "../styles/componenti.css";
import "../js/js.js";

import axios from "axios";
import jsdom from "jsdom";
const { JSDOM } = jsdom;

let arr = [];
let n = 1;
await axios.get("https://www.animeworld.so/").then(({ data }) => {
  const dom = new JSDOM(data);
  console.log(data);
  let matches = dom.window.document.querySelectorAll(".film-list");

  matches.forEach((element) => {
    let fixed = element.outerHTML;
    if (fixed.includes('<div class="dub">DUB</div>')) {
      fixed = fixed.replace('<div class="dub">DUB</div>', "");
    }

    if (fixed.includes('<div class="ova">OVA</div>')) {
      fixed = fixed.replace('<div class="ova">OVA</div>', "");
    }

    if (fixed.includes('<div class="ona">ONA</div>')) {
      fixed = fixed.replace('<div class="ona">ONA</div>', "");
    }

    if (fixed.includes('<div class="movie">Movie</div>')) {
      fixed = fixed.replace('<div class="movie">Movie</div>', "");
    }

    if (fixed.includes('<div class="special">Special</div>')) {
      fixed = fixed.replace('<div class="special">Special</div>', "");
    }

    if (fixed.includes('<div class="owl-carousel owl-theme">')) {
      fixed = fixed.replace('<div class="owl-carousel owl-theme">', "");
    }

    arr.push(fixed);
  });
});
---

<div class="cont-anime">
  <div class="recentiC">
    <div class="pagbtn-l">
      <p class="Recenti">Recenti</p>
      <p class="bar">|</p>
      <p class="pageN" id="Npage">Page 1 /</p>
    </div>
    <div class="pagbtn-r">
      <button class="btn-2" id="prec">&lt</button>
      <button class="btn-2" id="succ">&gt</button>
    </div>
  </div>
  <div class="contenitore-anime2" id="contenitore">
    {arr}
  </div>
</div>

<script>
  const contenitore = document.getElementById("contenitore");

  let transformato = contenitore.innerText.trim();

  contenitore.innerHTML = transformato;

  let n = 1;
  let containers = document.querySelectorAll(".film-list");
  containers.forEach((element) => {
    element.id = "pages" + n;
    n++;
  });

  let numeropagTot = n - 1;
  for (let i = 1; i < n; i++) {
    let tuttepag = document.getElementById("pages" + i);
    tuttepag.classList.add("hide");
  }

  let page1 = document.getElementById("pages1");
  page1.classList.remove("hide");

  const prec = document.getElementById("prec");
  const succ = document.getElementById("succ");

  let pagN = 1;
  let pagetxtN = document.getElementById("Npage");
  succ.addEventListener("click", (e) => {
    if (pagN != numeropagTot) {
      let pagprima = document.getElementById("pages" + pagN);
      pagprima.classList.add("hide");
      pagN++;
      let pagsucc = document.getElementById("pages" + pagN);
      pagsucc.classList.remove("hide");
      pagetxtN.innerText = "Page " + pagN + " / " + numeropagTot;
    }
  });

  prec.addEventListener("click", (e) => {
    if (pagN != 1) {
      let pagsucc = document.getElementById("pages" + pagN);
      pagsucc.classList.add("hide");
      pagN -= 1;

      let pagprima = document.getElementById("pages" + pagN);
      pagprima.classList.remove("hide");
      pagetxtN.innerText = "Page " + pagN + " / " + numeropagTot;
    }
  });

  pagetxtN.innerText = "Page 1 / " + numeropagTot;

  const allposter = document.querySelectorAll(".poster");
  allposter.forEach((element) => {
    element.href = element.href.replace("https://www.animeworld.so", "");
  });

  const allname = document.querySelectorAll(".name");
  allname.forEach((element) => {
    element.href = element.href.replace("https://www.animeworld.so", "");
  });
</script>
