---
import "../styles/global.css";
import "../styles/generi.css";
---

<div id="all" class="contenitoregenerimain">
  <div class="btncontenitore">
    <button id="button3">Generi</button>
  </div>
  <div class="filler"></div>
  <div id="generi" class="contenitore-generi">
    <div>
      <p>Arti Marziali</p>
      <p>Action</p>
      <p>Demoni</p>
      <p>Fantasy</p>
      <p>Hentai</p>
      <p>Magic</p>
      <p>Mistery</p>
      <p>Police</p>
      <p>Samurai</p>
      <p>Seinen</p>
      <p>Shoujo Ai</p>
    </div>
    <div>
      <p>Slice of Life</p>
      <p>Sports</p>
      <p>Thriller</p>
      <p>Yaoi</p>
      <p>Avanguardia</p>
      <p>Bambini</p>
      <p>Drama</p>
      <p>Game</p>
      <p>Horror</p>
      <p>Mecha</p>
      <p>Music</p>
    </div>
    <div>
      <p>Psychological</p>
      <p>Sci-fi</p>
      <p>Sentimental</p>
      <p>Shounen</p>
      <p>Space</p>
      <p>Historical</p>
      <p>Vampire</p>
      <p>Yuri</p>
      <p>Adventure</p>
      <p>Commedia</p>
      <p>Ecchi</p>
    </div>
    <div>
      <p>Harem</p>
      <p>Josei</p>
      <p>Military</p>
      <p>Parody</p>
      <p>Romance</p>
      <p>School</p>
      <p>Shoujo</p>
      <p>Shounen Ai</p>
      <p>Supernatural</p>
      <p>Super Power</p>
      <p>Veicoli</p>
    </div>
  </div>
</div>
<script>
  const generi = document.getElementById("generi");
  const all = document.getElementById("all");
  const button = document.getElementById("button3");
  all.addEventListener("mouseover", (e) => {
    generi.style.transform = "scaleY(1)";
    generi.style.transition = "ease 0.2s";
  });
  all.addEventListener("mouseout", (e) => {
    generi.style.transform = "scaleY(0)";
    generi.style.transition = "ease 0.2s";
  });

  generi.addEventListener("click", (e) => {
    let genereselezionato = e.target.innerHTML.replaceAll(" ", "-");
    window.location.href = "/generi/" + genereselezionato.toLowerCase();
  });

  function isMobile() {
    const regex =
      /Mobi|Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i;
    return regex.test(navigator.userAgent);
  }
  button.addEventListener("click", (e) => {
    if (isMobile()) {
    } else {
      window.location.href = "/generi/arti-marziali";
    }
  });
</script>
