---

import '../styles/global.css';

import Barratop from '../componenti/barratop.astro';
import playvideo from '../componenti/playvideo.astro';


import '../styles/componenti.css';
import '../js/js.js';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Animecrack</title>
		
	</head>
	<body>
		<Barratop />
		

	</body>
</html>