---
import "../styles/componenti.css";
import "../js/js.js";
import "swiper/swiper-bundle.css";
import axios from "axios";
import jsdom from "jsdom";
import { manifest } from "astro:ssr-manifest";
const { JSDOM } = jsdom;

let arr2 = "";

await axios.get("https://www.animeworld.so/").then(({ data }) => {
  const dom = new JSDOM(data);
  let matches = dom.window.document.querySelectorAll(
    "#body .widget.slider .swiper-wrapper"
  );

  matches.forEach((element) => {
    let fixed = element.innerHTML;

    arr2 = fixed;
  });
});
---

<div class="swiper">
  <div class="swiper-wrapper" id="contenitore2">
    {arr2}
  </div>
</div>
<script>
  import Swiper from "swiper/bundle";

  const contenitore = document.getElementById("contenitore2");
  let transformato = contenitore.innerText.trim();

  contenitore.innerHTML = transformato;
  const swiper = new Swiper(".swiper", {
    autoplay: {
      delay: 6000,
    },
  });
</script>
