---
import Barratop from "../componenti/barratop.astro";

import "../styles/global.css";

import axios from "axios";
import jsdom from "JSDOM";
import { manifest } from "astro:ssr-manifest";
const { JSDOM } = jsdom;
let arr = [];

await axios.get("https://www.animeworld.so/ongoing").then(({ data }) => {
  const dom = new JSDOM(data);
  let matches = dom.window.document.querySelectorAll(
    ".film-list > .item > .inner"
  );

  matches.forEach((element) => {
    let fixed = element.outerHTML;
    if (fixed.includes('<div class="dub">DUB</div>')) {
      fixed = fixed.replace('<div class="dub">DUB</div>', "");
    }

    if (fixed.includes('<div class="ova">OVA</div>')) {
      fixed = fixed.replace('<div class="ova">OVA</div>', "");
    }

    if (fixed.includes('<div class="ona">ONA</div>')) {
      fixed = fixed.replace('<div class="ona">ONA</div>', "");
    }

    if (fixed.includes('<div class="movie">Movie</div>')) {
      fixed = fixed.replace('<div class="movie">Movie</div>', "");
    }

    if (fixed.includes('<div class="special">Special</div>')) {
      fixed = fixed.replace('<div class="special">Special</div>', "");
    }

    arr.push(fixed);
  });
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Animecrack</title>
  </head>
  <body>
    <Barratop />
    <div class="cont-anime">
      <div class="genere">
        <p><a href="http://localhost:4321/">Home</a></p>
        <p>|</p>
        <p>Anime in corso</p>
      </div>
      <div class="contenitore-anime" id="contenitore">
        {arr}
      </div>
    </div>

    <script>
      const contenitore = document.getElementById("contenitore");

      let transformato = contenitore.innerText.trim();

      contenitore.innerHTML = transformato;
    </script>
  </body>
</html>
