---
import "../styles/global.css";
import img from "/src/img/wallpaper.webp";
import Barratop from "../componenti/barratop.astro";
import Contenitore from "../componenti/contenitore.astro";
import Slider from "../componenti/slide.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import Cronologia from "../componenti/cronologia.astro";
import Homenew from "../componenti/homenew.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Animecrack</title>
  </head>
  <body>
    <img class="bgimg" src={img.src} />
    <Barratop />
    <Slider />
    <Cronologia />
    <Contenitore />
    <!-- <Homenew /> -->

    <SpeedInsights />
  </body>
</html>
