---
import "../styles/global.css";

import Barratop from "../componenti/barratop.astro";
import Contenitore from "../componenti/contenitore.astro";
import Slider from "../componenti/slide.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Animecrack</title>
  </head>
  <body>
    <Barratop />
    <Slider />
    <Contenitore />
  </body>
</html>
